<?xml version="1.0" encoding="utf-8"?><!--
Compile By Tandong  2016.3.24 
 * www.whatjay.com
 * 
 * 谭东基于FBReader官方github最新版原始编译，可以放心使用。
 *这里的so库是用ADT编译导入的，如果你需要修改包名，则需要重新编译so库，替换这里的so库即可。
 * QQ 852041173
 * Android开发者QQ群 271410559
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.geometerplus.zlibrary.ui.android"
     >



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.geometerplus.android.fbreader.FBReaderApplication"
        android:icon="@drawable/fbreader"
        android:label="@string/app_name"
        tools:replace="android:icon"
        android:logo="@drawable/fbreader_bw">
        <activity
            android:name="org.geometerplus.android.fbreader.error.BookReadingErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":error"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.ERROR" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="BookReadingException"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name=".error.BugReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="FBReader crash"
            android:process=":crash"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="org.geometerplus.android.fbreader.crash.FixBooksDirectoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:process=":crash"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="CachedCharStorageException"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.crash.MissingNativeLibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:process=":crash"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="ExceptionInInitializerError"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="UnsatisfiedLinkError"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>



        <activity
            android:name="org.geometerplus.android.fbreader.FBReader"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/fbreader"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/FBReader.Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="fbreader-action" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:scheme="file" />
                <data android:pathPattern=".*\\.epub" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:scheme="file" />
                <data android:pathPattern=".*\\.epub" />

            </intent-filter>
            <!--intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content" android:pathPattern=".*\\.fb2"/>
            </intent-filter-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="file" />
                <data android:mimeType="application/epub+zip" />
                 
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.fbreader.action.CLOSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.PLUGIN_CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.geometerplus.android.fbreader.CancelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.CANCEL_MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.PluginListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog" />



        <service
            android:name="org.geometerplus.android.fbreader.libraryService.LibraryService"
            android:launchMode="singleTask"
            android:process=":libraryService">
            <intent-filter>
                <action android:name="android.fbreader.action.LIBRARY_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="org.geometerplus.android.fbreader.config.ConfigService"
            android:launchMode="singleTask"
            android:process=":configService">
            <intent-filter>
                <action android:name="android.fbreader.action.CONFIG_SERVICE" />
            </intent-filter>
        </service>


        <activity
            android:name="org.geometerplus.android.fbreader.library.BookInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":library"
            android:theme="@style/FBReader.Activity">
            <intent-filter>
                <action android:name="android.fbreader.action.BOOK_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.library.LibrarySearchActivity"
            android:process=":library"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.library.LibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:process=":library"
            android:theme="@style/FBReader.Activity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="org.geometerplus.android.fbreader.library.LibrarySearchActivity" />
            <intent-filter>
                <action android:name="android.fbreader.action.LIBRARY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.TOCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="org.geometerplus.android.fbreader.preferences.PreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":preferences"
            android:theme="@style/FBReader.Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="fbreader-preferences" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name="org.geometerplus.android.fbreader.preferences.EditBookInfoActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:process=":library"-->
            <!--android:theme="@style/FBReader.Activity" />-->
         <!---->


        <service
            android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider"
            android:exported="false" />

        <activity
            android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="org.geometerplus.android.fbreader.preferences.background.Chooser"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="org.geometerplus.android.fbreader.preferences.background.PredefinedImages"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="org.geometerplus.android.util.FolderListDialogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="org.geometerplus.android.util.EditTagsDialogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="org.geometerplus.android.util.EditAuthorsDialogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
    </application>
</manifest>
