<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.anybooks">

    <application
        android:allowBackup="false"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:name="org.geometerplus.android.fbreader.FBReaderApplication"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="allowBackup,supportsRtl"
        >


        <activity android:name="co.anybooks.ui.FileListActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="co.anybooks.ui.BookReadActivity"
            android:theme="@style/AppTheme.FULL_SCREEN" />
        <activity android:name="co.anybooks.ui.BookIndexActivity" />
    </application>
</manifest>
